<div class="reviews-heading">
    <div class="reviews-heading__section">
        <div class="reviews-title">
            <h2>Reviews ({{ totalElements }})</h2>
        </div>
        <div class="review-form">
            <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <ngb-rating [max]="5" formControlName="score"></ngb-rating>
                </div>
                <div class="form-group">
                    <textarea formControlName="content" rows="5" cols="50"></textarea>
                </div>
                <div class="form-button">
                    <button type="submit" [disabled]="reviewForm.invalid">
                        Post Review
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>
<div class="reviews">
    <app-review-item *ngFor="let review of reviews" [review]="review"></app-review-item>
</div>
<div class="reviews__pagination">
    <div class="reviews__pagination--pagenumber">
        <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize" [collectionSize]="totalElements" [maxSize]="5"
            [boundaryLinks]="true" (pageChange)="onPageChange()">
        </ngb-pagination>
    </div>
    <div class="reviews__pagination--pagesize">
        <span class="mr-2">Page Size</span>
        <select (change)="updatePageSize($event.target.value)">
            <option>2</option>
            <option selected="true">5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
        </select>
    </div>
</div>

